. "$HOME/.cargo/env"

# Added by LM Studio CLI (lms)
export PATH="$PATH:/Users/randallnoval/.lmstudio/bin"

# Added by LM Studio CLI (lms)
export PATH="$PATH:/Users/randynov/.lmstudio/bin"
# End of LM Studio CLI section

